.App {
  display: flex;
}

.column {
  border:1px #ccc solid;
  flex-grow: 1;
  margin: 25px;
  text-align: center;
}

.card {
  padding: 25px;
  display: flex;
}

.card span {
  flex-grow: 1;
  text-align: center;
}